.navbar {
  background-color: rgb(191, 255, 255);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

ul li a {
  color: rebeccapurple;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}

.active-menu {
  border-bottom: 3px solid rebeccapurple;
}

.c-pointer {
  cursor: pointer;
}

.table-fixed {
  table-layout: fixed;
}
