.card {
  border: 1px solid whitesmoke;
  margin: 15px;
  padding: 20px;
  width: 150px;
  height: auto;
  float: left;
  cursor: pointer;
  text-align: center;
}
.card.selected {
  background-color: #66cc64;
}
.card img {
  width: 100%;
  height: auto;
}

.cart {
  width: 50px;
  height: auto;
  float: right;
  margin: 15px;
  cursor: pointer;
}
.selected-product {
  padding: 10px;
  border-width: 0 0 1px 0;
  border-color: whitesmoke;
  border-style: solid;
  height: 45px;
  font-size: 19px;
}
.selected-product img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  cursor: pointer;
}
.selected-product span {
  margin: 0 5px;
}
.basket {
  width: 300px;
  text-align: center;
  margin: 50px auto;
  height: auto;
  min-height: 300px;
  border: 1px solid whitesmoke;
}
.product-list {
  margin: auto 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}
