:root {
  --gray-bg-color: #f5f6f8;
  --white-bg-color: #ffffff;
  --gray-border-color: #e8e8ea;
  --text-default-color: #2b2f38;
  --text-muted-color: #787d82;

  --border-radius: 4px;
}

h6 {
  margin: 0;
}

body,
html {
  color: var(--text-default-color);
}

.todos-container {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.section {
  background-color: var(--gray-bg-color);
  border-radius: var(--border-radius);
  padding: 0.5em;
}

.section h6 {
  color: var(--text-muted-color);
  padding: 0.5em 0;
}

.section h4 {
  /* padding: 6px 8px; */
  background-color: var(--gray-bg-color);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}
.section {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.item,
.item-add {
  border: 1px solid var(--gray-bg-color);
  background-color: var(--white-bg-color);
  border-radius: var(--border-radius);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  padding: 0.5em;
}

.item h5 {
  display: flex;
  justify-content: space-between;
}

.item .assignee {
  display: flex;
  justify-content: flex-end;
}
.item .assignee span {
  border-radius: 50%;
  padding: 0.5em;
  width: 4ch;
  height: 4ch;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gray-bg-color);
}

.items-list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.item-add {
  cursor: pointer;
}
.item-add form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
