.main{
  text-align: center;
}
form{
  max-width:300px;
  margin:auto;
}
button{
  margin:20px;
}
header{
  height:60px;
  background-color: whitesmoke;
  padding:10px;
}
header button{
  float:right;
  margin:0 20px;
}